.DS_Store
**/.DS_Store
*.class

/scrubber/target
/scrubber-maven/target
/rtserver-maven/target

scrubber/.DS_Store
scrubber/target/.DS_Store
scrubber/.DS_Store
scrubber/target/.DS_Store

rtserver-maven/.DS_Store
rtserver-maven/src/.DS_Store
rtserver-maven/src/main/.DS_Store
rtserver-maven/src/main/java/.DS_Store

/scrubber/testdb*
/scrubber/data/localdb/Super2/hashes
/scrubber/data/localdb/Super2/paths
/scrubber/data/localdb/NodeInfo
/scrubber/data/localdb/BackupJobs
/scrubber/data/localdb/Standard1
/scrubber/data/localdb/Standard2
/scrubber/data/localdb/BatchJobs
/scrubber/data/records.db
/scrubber/data/.uuid*
/scrubber/data/cluster*
/scrubber/temp*
/scrubber/outgoing
/scrubber/logs
/scrubber/*.bad

/rtserver/config/*-multicluster.properties

/rtserver/streaming
/rtserver/incoming
/rtserver/testdb*
/rtserver/batch*.idx
rtserver/sharedb*
/rtserver/dbname.txt
/rtserver/dbver.txt
/rtserver/dbshare*

web/.DS_Store
/web/cass/pic
/web/cass/getfile*.tmp

/cass-server-maven/target

*id_sec*
