<html>
<head>

	<!--<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="bootstrap/css/glyphicons.css">-->
	<link rel="stylesheet" type="text/css" href="bootstrap-3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="bootstrap-3.4.1/css/glyphicons.css">

	<link rel="stylesheet" type="text/css" href="css/bootstrap-tagsinput.css">
	<link href="./css/video-js.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/jquery-ui.min.css">
	<link rel="stylesheet" type="text/css" href="css/template.css">
	
	<!--<script src="jquery/jquery.min.js"></script>
	<script src="jquery/jquery-ui.js"></script>-->
	<script src="jquery/jquery-1.12.4.min.js"></script>
	<script src="jquery/jquery-ui.min.js"></script>
	
	<!--<script src="bootstrap/js/bootstrap.min.js"></script>-->
	<script src="bootstrap-3.4.1/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="./angularjs/angular.min.js"></script>
	<script type="text/javascript" src="./angularjs/angular-route.min.js"></script>
	<script type="text/javascript" src="./angularjs/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="./angularjs/angular-sanitize.min.js"></script>
	<!--<script type="text/javascript" src="./angularjs/angular-locale_es-es.js"></script>-->
	<script type="text/javascript" src="./js/plugins/plugins.js"></script>
	<script type="text/javascript" src="./js/plugins/bootstrap-tagsinput.min.js"></script>
	<script type="text/javascript" src="./js/plugins/bootstrap-tagsinput-angular.min.js"></script>

	<!--<script type="text/javascript" src="./bootstrap/js/ui-bootstrap-tpls-0.14.1.min.js"></script>-->
	<script type="text/javascript" src="./bootstrap-3.4.1/js/ui-bootstrap-tpls-0.14.1.min.js"></script>
	
	<!--<script src="./js/plugins/video.dev.js"></script>
	<script src="./js/plugins/videojs-media-sources.js"></script>
	<script src="./js/plugins/videojs.hls.min.js"></script>-->
	
	<script src="./js/plugins/slider.js"></script>
	<script src="./js/plugins/dropzone.js"></script>
	
	<script src="./js/plugins/jquery.balloon.min.js"></script>
	<script src="./js/alterante.js"></script>
	
	
	<script src="js/app.js"></script>
	<script src="js/appconf.js"></script>
	<script src="js/controllers/filtercontroller.js"></script>
	<script src="js/controllers/rigthbarcontroller.js"></script>
	<script src="js/controllers/myfilescontroller.js"></script>
	<script src="js/controllers/homecontroller.js"></script>
	<script src="js/controllers/sharescontroller.js"></script>
	<script src="js/controllers/backupcontroller.js"></script>
	<script src="js/controllers/multiclustercontroller.js"></script>
	
	<script src="./js/plugins/hls.js"></script>
</head>

<body ng-app="app">
<div class="container" style="padding-right: 0px;width:100%;">
	<div ng-controller="FilterController">
	 <div  class="dragzonebox"id="my-dropzone">
		<div class="row" align="center">
			Drop files here
		</div>
		<label style="position: absolute;right: 10px;top: 4px;cursor: pointer;" ng-click="closeUpload()">X</label>
		<span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Add files...</span>
		</span>
		<br>
		<br>
		<br>
	 </div>
	  <div class="row" style="position:fixed;top:0;z-index: 1005;width: 100%;background-color:white;" id="topbarheader" >
	 
		 <div class="row" style="height:50px;background-color:rgb(42,42,42);padding-left: 51px;">
			<img src="img/logo_molecula-02.png" width="50px"/>
			<img src="img/logo_alterante-03.png" width="100px"/>
			
			<label class="menuLabel" id="home" ng-click="show('Home');"  ng-class="{active:mnu=='home'}" style="cursor:pointer;margin-left:20px;">Home</label>
			<label class="menuLabel active" id="myfiles" ng-click="show('MyFiles');" ng-class="{active:mnu=='myfiles'}" style="cursor:pointer;" >My Files</label>
			<label class="menuLabel" ng-click="openBackup();"  style="cursor:pointer;" ng-class="{active:mnu=='backup'}">Backup</label>
			<label class="menuLabel" ng-click="openShares();"  style="cursor:pointer;" ng-class="{active:mnu=='shares'}">Shares</label>
			<label class="menuLabel" ng-click="openMultiCluster();"  style="cursor:pointer;color:rgb(42,42,42);" ng-class="{active:mnu=='multicluster'}">Multi-Cluster</label>
			<i class="glyphicon glyphicon-cloud-upload upload" ng-click="openUpload()"><label style="font-size:14px;cursor:pointer;">Upload</label></i>
			<input type="password" style="display:none;">
			<input type="text" class="form-control" value=".all" id="txtSearch" placeholder="Search..." style="float:right;width:200px;position:relative;top:10px;right:250px;"></input>
			<table style="background-color:rgb(74,74,74);color:white;position:absolute;z-index:99999999;right:300px;-moz-border-radius: 15px;border-radius: 15px;" id="txtSearchSuggest2" ng-show="showSuggest2">
				<tr><td style="padding: 2px 10px 2px 10px;"> &nbsp;	</td></tr>
				<tr><td style="padding: 2px 10px 2px 10px;" align="center"> Found {{suggest.length}} match</td></tr>
				<tr ng-repeat="label in suggest2">
				<td>
					<label class="glyphicon glyphicon-camera" style="padding: 2px 10px 2px 10px; cursor:pointer;" ng-click="search(label.name)" ng-show="label.type!='tag' &&  label.file_ext=='jpg' || label.file_ext=='jpeg' || label.file_ext=='png' || label.file_ext=='gif'"  >&nbsp;{{label.name}}</label>
					<label class="glyphicon glyphicon-music" style="padding: 2px 10px 2px 10px; cursor:pointer;" ng-click="search(label.name)" ng-show="label.type!='tag' &&  label.file_thumbnail==null && (label.file_ext=='mp3' || label.file_ext=='m4a' || label.file_ext=='mp4' || label.file_ext=='wav'|| label.file_ext=='wma')"  >&nbsp;{{label.name}}</label>
					<label class="glyphicon glyphicon-briefcase" style="padding: 2px 10px 2px 10px; cursor:pointer;" ng-click="search(label.name)" ng-show="label.type!='tag' && label.file_thumbnail==null && (label.file_ext=='doc' || label.file_ext=='docx' || label.file_ext=='pdf' || label.file_ext=='ppt' || label.file_ext=='pptx' || label.file_ext=='xls' || label.file_ext=='xlsx')"  >&nbsp;{{label.name}}</label>
					<label style="padding: 2px 10px 2px 10px; cursor:pointer;" ng-click="search(label.name)" class="glyphicon glyphicon-tag" ng-show="label.type=='tag'">&nbsp;{{label.name}}</label>
				</td>	
				</tr>	
			</table>
			<label style="color:white;float:right;position:relative;top:15px;right:-158px;cursor:pointer;" ng-click="showMinMenu=true;$event.stopPropagation();offPlayListPanel();"> {{username}} <i class="glyphicon glyphicon-chevron-down" style="color:white;font:5px;font-size: 12px;" ></i></label>
			<table style="background-color:rgb(74,74,74);color:white;position: absolute;z-index: 99999999;right: 24px;top: 36px;" ng-show="showMinMenu">
				<tr><td style="padding: 2px 10px 2px 10px;cursor:pointer;" align="left" ng-click="openAbout()"> About</td></tr>
				<tr><td style="padding: 2px 10px 2px 10px;cursor:pointer;" align="left" ng-click="openSettings()"> Settings</td></tr>
				<tr><td style="padding: 2px 10px 2px 10px;cursor:pointer;" align="left" onclick="document.location.href='indexv2.htm'"> Log Out</td></tr>
			</table>
		</div>
		
		<div style="background-color:rgb(73,144,226);width:100%;position: absolute;left:0px;padding-left: 122px;top:50px;z-index:99;" id="topbar">
		<table style="width:100%;height:50px;">
			<tr>
				<td align="center">
					<input ng-model="selAllAttr" id="selAllAttr" ng-change="selAllChange()" type="checkbox"/><label style="color:white;">&nbsp;Select All</label>
				</td>
				<td align="center">
					<label style="color:white;">Select {{filesSelected}} files</label>
				</td>
				<td align="center">
					<a href="" ng-click="selShare()" style="text-decoration:none;color:white;">Share</a>&nbsp;&nbsp;&nbsp;<a href="" ng-click="selTag2()" style="text-decoration:none;color:white;">Tag</a>&nbsp;&nbsp;&nbsp;<a style="text-decoration:none;color:white;"href="" ng-click="selCancel()">Cancel</a>
				</td>
			</tr>
		</table>
		</div>
		<div style="background-color:#f9f9f9" class="row" id="topbarcommands2">
			<uib-alert class="topBarMsg" style="z-index:999;" type="success" id="loading">Loading....</uib-alert>
			<uib-alert class="topBarMsg" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
	
			<table width="100%">
				<tr>
					<td style="width:135px;height:50px;background-color:rgb(74,74,74);">
						&nbsp;
					</td>
					<td align="right" valign="bottom" style="height:50px;padding-right:52px;">
						<label style="cursor:pointer;" ng-show="mnu!='multicluster'" ng-click="showOrderList2=!showOrderList2" >Sort By:Date(<i id="sortOrder">{{order}}</i>)<i class="glyphicon glyphicon-chevron-down" style="color:rgb(155,155,155);font-size: 20px;position: relative;top: 6px;"></i></label>
						&nbsp;
						<i class="glyphicon glyphicon-th" ng-show="fileView=='list' && mnu!='multicluster'" style="font-size:20;cursor:pointer;" ng-click="showGrid()" ></i>
						<i class="glyphicon glyphicon-list" ng-show="fileView=='grid' && mnu!='multicluster'" style="font-size:20;cursor:pointer;" ng-click="showList()"></i>
						<div id="orderlist" style="position: absolute;right: 75px;" ng-show="mnu!='multicluster'">
							<table class="table table-striped" style="background-color:rgb(240,242,246);" ng-show="showOrderList2" ng-mouseleave="showOrderList2=false">
								<tr> <td ng-click="setOrder('Asc')" style="cursor:pointer;">Date Asc</td></tr>
								<tr> <td ng-click="setOrder('Desc')" style="cursor:pointer;">Date Desc</td></tr>	
							</table>				
						</div>
						&nbsp;
						<i class="glyphicon glyphicon-play" style="cursor:pointer" ng-show="mnu=='myfiles'" ng-click="showPlayList2=!showPlayList2"></i>
						<div id="playlist" style="position: absolute;right: 15px;" ng-show="mnu!='multicluster'">
							<table class="table table-striped" style="background-color:rgb(240,242,246);" ng-show="showPlayList2" ng-mouseleave="showPlayList2=false">
								<tr> <td ng-click="playMusic()" style="cursor:pointer;">Add music to playlist</td></tr>
								<tr> <td ng-click="playPhoto()" style="cursor:pointer;">Play photos</td></tr>	
							</table>				
						</div>
						&nbsp;
						<i class="glyphicons glyphicons-chat rightMenuIcon" style="top:-4px;position:relative;font-size: 23px;cursor: pointer;" id="rightMenuIcon" ng-click="changeShowRightMenu()" ></i>
					</td>
				</tr>
			</table>	
		</div>	
	 </div>
	 <!--
	 <div class="row" id="deviceExplorer">
		<div class="row" ng-repeat="device in devices">
			<i class="glyphicon glyphicon-cloud" ng-show="device.node_type!='server' && device.node_type!='client'" ng-click="deviceExplorer(device)" style="font-size:17px;cursor:pointer;"><label title="{{device.node_machine}}" class="deviceLabel" style="padding-left:3px;">{{device.node_machine}}</label></i>
			<i class="glyphicon glyphicon-object-align-vertical" ng-show="device.node_type=='server'" ng-click="deviceExplorer(device)" style="font-size:17px;cursor:pointer;"><label title="{{device.node_machine}}" class="deviceLabel" style="padding-left:3px;">{{device.node_machine}}</label></i>
			<i class="glyphicon glyphicon-hdd" ng-show="device.node_type=='client'" style="font-size:17px;cursor:pointer;" ng-click="deviceExplorer(device)"><label title="{{device.node_machine}}" class="deviceLabel" style="padding-left:3px;">{{device.node_machine}}</label></i>
			<br/>
		</div>		
	 </div>
	-->
	 <div id="leftMenu" ng-show="mnu!='multicluster'" >
		 <p class="menuLeftLabel">FILE TYPES</p>
		 <ul class="nav nav-list" style="padding-left:30px;color:rgb(164,164,164);" >
			<li id="typ1" tagtype=".all" ng-click="selType('.all')"   style="cursor:pointer;padding-bottom:5px;"> <i class="glyphicon glyphicon-globe"></i>&nbsp;<label class="badgehome" id="n_total"></label></li>
			<li id="typ2" tagtype='.photo' ng-click="selType('.photo')" style="cursor:pointer;padding-bottom:5px;"><i class="glyphicon glyphicon-camera  "></i>&nbsp;<label class="badgehome" id="n_photo"></label></li>
			<li id="typ3" tagtype='.music' ng-click="selType('.music')" style="cursor:pointer;padding-bottom:5px;"><i class="glyphicon glyphicon-music"></i>&nbsp;<label class="badgehome" id="n_music"></label></li>
			<li id="typ4" tagtype=".video" ng-click="selType('.video')" style="cursor:pointer;padding-bottom:5px;"><i class="glyphicon glyphicon-facetime-video"></i>&nbsp;<label class="badgehome" id="n_video"></label></li>
			<li id="typ9" tagtype=".document" ng-click="selType('.document')" style="cursor:pointer;padding-bottom:5px;"><span class="glyphicon glyphicon-briefcase"></span>&nbsp;<label class="badgehome" id="n_docu"></label></li>
			<li id="typ5" tagtype=".doc" ng-click="selType('.doc')" style="cursor:pointer;padding-bottom:5px;" ><i class="glyphicons glyphicons-file"></i>&nbsp;<label class="badgehome" id="n_doc"></label></li>
			<li id="typ6" tagtype=".xls" ng-click="selType('.xls')" style="cursor:pointer;padding-bottom:5px;"><i class="glyphicons glyphicons-charts  "></i>&nbsp;<label class="badgehome" id="n_xls"></label></li>
			<li id="typ7" tagtype=".ppt" ng-click="selType('.ppt')" style="cursor:pointer;padding-bottom:5px;"><i class="glyphicons glyphicons-pie-chart  "></i>&nbsp;<label class="badgehome" id="n_ppt"></label></li>
			<li id="typ8" tagtype=".pdf" ng-click="selType('.pdf')" style="cursor:pointer;padding-bottom:5px;"><i class="glyphicon glyphicon-briefcase  "></i>&nbsp;<label class="badgehome" id="n_pdf"></label></li>
		</ul>
		 <p class="menuLeftLabel">TIME RANGE</p>
		<ul class="nav nav-list"  style="cursor:pointer;padding-left:30px;color:rgb(164,164,164);">
			<li id="time24h" tagrange="1" ng-click="selRange('1')" style="cursor:pointer;padding-bottom:5px;"> <i class="glyphicon glyphicon-time  "></i>&nbsp;<label class="badgehome" id="n_past24h"></label></li>
			<li id="time3d" tagrange="3" ng-click="selRange('3')" style="cursor:pointer;padding-bottom:5px;"> <i class="glyphicon glyphicon-time  "></i>&nbsp;<label class="badgehome" id="n_past3d"></label></li>
			<li id="time7d" tagrange="7" ng-click="selRange('7')" style="cursor:pointer;padding-bottom:5px;"> <i class="glyphicon glyphicon-time  "></i>&nbsp;<label class="badgehome" id="n_past7d"></label></li>
			<li id="time14d" tagrange="14" ng-click="selRange('14')" style="cursor:pointer;padding-bottom:5px;"> <i class="glyphicon glyphicon-time  "></i>&nbsp;<label class="badgehome" id="n_past14d"> </label></li>
			<li id="time30d" tagrange="30" ng-click="selRange('30')" style="cursor:pointer;padding-bottom:5px;"> <i class="glyphicon glyphicon-time  "></i>&nbsp;<label class="badgehome" id="n_past30d"></label></li>
			<li id="time365d" tagrange="365" ng-click="selRange('365')" style="cursor:pointer;padding-bottom:5px;"> <i class="glyphicon glyphicon-time  "></i>&nbsp;<label class="badgehome" id="n_past365d"></label> </li>
			<li id="timeall" tagrange=".all" ng-click="selRange('.all')" style="cursor:pointer;padding-bottom:5px;"> <i class="glyphicon glyphicon-time  "></i>&nbsp;<label class="badgehome" id="n_alltime"></label></li>
		</ul> 
		<p class="menuLeftLabel">TAGS</p>
		<ul class="nav nav-list"  style="cursor:pointer;padding-left:30px;color:rgb(164,164,164);">
			<li ng-repeat="tag in tags" tagtags="{{tag.tagname}}"   ng-click="selTag(tag.tagname)" style="cursor:pointer;padding-bottom:5px;"> 
				<i class="glyphicon glyphicon-tag"></i>&nbsp;<label class="badgehome">{{tag.tagcnt}}</label> 
			</li>
		</ul> 			
	 </div>
	  <div id="leftMenu2" ng-show="mnu!='multicluster'" >
		 <p class="menuLeftLabel">&nbsp;&nbsp;&nbsp;</p>
		 <ul class="nav nav-list" style="padding-left:30px;color:rgb(164,164,164);" >
			<li id="typ1" tagtype=".all" ng-click="selType('.all')"   style="cursor:pointer;padding-bottom:10px;width:200px">&nbsp;&nbsp;&nbsp;All Types&nbsp&nbsp&nbsp;<i tagtype=".all"  class="glyphicon glyphicon-ok"></i></li>
			<li id="typ2" tagtype='.photo' ng-click="selType('.photo')" style="cursor:pointer;padding-bottom:10px;width:200px;"> &nbsp;&nbsp;&nbsp;Photos&nbsp&nbsp&nbsp;<i tagtype=".photo"  class="glyphicon glyphicon-ok"></i></li>
			<li id="typ3" tagtype='.music' ng-click="selType('.music')" style="cursor:pointer;padding-bottom:10px;width:200px;"> &nbsp;&nbsp;&nbsp;Music&nbsp&nbsp&nbsp;<i tagtype=".music"  class="glyphicon glyphicon-ok"></i></li>
			<li id="typ4" tagtype=".video" ng-click="selType('.video')" style="cursor:pointer;padding-bottom:10px;width:200px;"> &nbsp;&nbsp;&nbsp;Videos&nbsp&nbsp&nbsp;<i tagtype=".video"  class="glyphicon glyphicon-ok"></i> </li>
			<li id="typ9" tagtype=".document" ng-click="selType('.document')" style="cursor:pointer;padding-bottom:10px;width:200px;"> &nbsp;&nbsp;&nbsp;Documents&nbsp&nbsp&nbsp;<i tagtype=".document"  class="glyphicon glyphicon-ok"></i></li>
			<li id="typ5" tagtype=".doc" ng-click="selType('.doc')" style="cursor:pointer;padding-bottom:10px;width:200px;" > &nbsp;&nbsp;&nbsp;.doc&nbsp&nbsp&nbsp;<i tagtype=".doc"  class="glyphicon glyphicon-ok"></i></li>
			<li id="typ6" tagtype=".xls" ng-click="selType('.xls')" style="cursor:pointer;padding-bottom:10px;width:200px;"> &nbsp;&nbsp;&nbsp;.xls&nbsp&nbsp&nbsp;<i tagtype=".xls"  class="glyphicon glyphicon-ok"></i></li>
			<li id="typ7" tagtype=".ppt" ng-click="selType('.ppt')" style="cursor:pointer;padding-bottom:10px;width:200px;"> &nbsp;&nbsp;&nbsp;.ppt&nbsp&nbsp&nbsp;<i tagtype=".ppt"  class="glyphicon glyphicon-ok"></i></li>
			<li id="typ8" tagtype=".pdf" ng-click="selType('.pdf')" style="cursor:pointer;padding-bottom:10px;width:200px;"> &nbsp;&nbsp;&nbsp;.pdf&nbsp&nbsp&nbsp;<i tagtype=".pdf"  class="glyphicon glyphicon-ok"></i></li>
		</ul>
		 <p class="menuLeftLabel">&nbsp;&nbsp;&nbsp;</p>
		<ul class="nav nav-list"  style="cursor:pointer;padding-left:30px;color:rgb(164,164,164);">
			<li id="time24h" tagrange="1" ng-click="selRange('1')" style="cursor:pointer;padding-bottom:10px;width:200px;">  &nbsp;&nbsp;&nbsp;Today&nbsp&nbsp<i  class="glyphicon glyphicon-ok"></i></li>
			<li id="time3d" tagrange="3" ng-click="selRange('3')" style="cursor:pointer;padding-bottom:10px;width:200px;">   &nbsp;&nbsp;&nbsp;Past 3 days&nbsp&nbsp<i   class="glyphicon glyphicon-ok"></i></li>
			<li id="time7d" tagrange="7" ng-click="selRange('7')" style="cursor:pointer;padding-bottom:10px;width:200px;">   &nbsp;&nbsp;&nbsp;This Week&nbsp&nbsp<i  class="glyphicon glyphicon-ok"></i></li>
			<li id="time14d" tagrange="14" ng-click="selRange('14')" style="cursor:pointer;padding-bottom:10px;width:200px;"> &nbsp;&nbsp;&nbsp;Past 2 Weeks&nbsp&nbsp<i    class="glyphicon glyphicon-ok"></i></li>
			<li id="time30d" tagrange="30" ng-click="selRange('30')" style="cursor:pointer;padding-bottom:10px;width:200px;"> &nbsp;&nbsp;&nbsp;Past 30 days&nbsp&nbsp<i  class="glyphicon glyphicon-ok"></i></li>
			<li id="time365d" tagrange="365" ng-click="selRange('365')" style="cursor:pointer;padding-bottom:10px;width:200px;">&nbsp;&nbsp;&nbsp;This Year&nbsp&nbsp<i   class="glyphicon glyphicon-ok"></i></li>
			<li id="timeall" tagrange=".all" ng-click="selRange('.all')" style="cursor:pointer;padding-bottom:10px;width:200px;">&nbsp;&nbsp;&nbsp;All Time&nbsp&nbsp<i    class="glyphicon glyphicon-ok"></i></li>
		</ul> 
		<p class="menuLeftLabel">&nbsp;&nbsp;&nbsp;</p>
		<ul class="nav nav-list"  style="cursor:pointer;padding-left:30px;color:rgb(164,164,164);">
			<li ng-repeat="tag in tags" tagtags="{{tag.tagname}}" ng-click="selTag(tag.tagname)" style="cursor:pointer;padding-bottom:5px;width:200px;"> 
			&nbsp;&nbsp;&nbsp;<label id="lbl{{tag.tagname}}" style="cursor:pointer;" tag="sharetaglabel" tagname="{{tag.tagname}}">{{tag.tagname}}</label>&nbsp&nbsp
			<i class="glyphicon glyphicon-option-horizontal" style="cursor:pointer;cursor: pointer;position: absolute;right: 50px;top: 4px;" ng-click="$event.stopPropagation();tag.showMenu=!tag.showMenu;showShareMenu=true;"></i>
				<div id="share{{tag.tagname}}" align="center" ng-mouseleave="tag.showMenu=false" style="cursor:pointer;position: absolute;top: 7px;right:-28px;;background-color: rgb(240,242,246); width: 100;z-index: 9;" ng-show="tag.showMenu && showShareMenu" ng-click="openShare(tag.tagname,$event);showShareMenu=false;">
					<label style="cursor: pointer;">Share</label>
				</div>
			</li>
		</ul> 			
	 </div>
	 
	  <div id="leftMenu3" ng-show="mnu=='multicluster'" >
		 <p class="menuLeftLabel">FILE TYPES</p>
		 <ul class="nav nav-list" style="padding-left:30px;color:rgb(164,164,164);" >
			<li id="mtyp1" mtagtype=".all" ng-click="selMType('.all')"   style="cursor:pointer;padding-bottom:5px;"> <i class="glyphicon glyphicon-globe"></i>&nbsp;<label class="badgehome" id="mn_total"></label></li>
			<li id="mtyp2" mtagtype='.photo' ng-click="selMType('.photo')" style="cursor:pointer;padding-bottom:5px;"><i class="glyphicon glyphicon-camera  "></i>&nbsp;<label class="badgehome" id="mn_photo"></label></li>
			<li id="mtyp3" mtagtype='.music' ng-click="selMType('.music')" style="cursor:pointer;padding-bottom:5px;"><i class="glyphicon glyphicon-music"></i>&nbsp;<label class="badgehome" id="mn_music"></label></li>
			<li id="mtyp4" mtagtype=".video" ng-click="selMType('.video')" style="cursor:pointer;padding-bottom:5px;"><i class="glyphicon glyphicon-facetime-video"></i>&nbsp;<label class="badgehome" id="mn_video"></label></li>
			<li id="mtyp9" mtagtype=".document" ng-click="selMType('.document')" style="cursor:pointer;padding-bottom:5px;"><span class="glyphicon glyphicon-briefcase"></span>&nbsp;<label class="badgehome" id="mn_docu"></label></li>
			<li id="mtyp5" mtagtype=".doc" ng-click="selMType('.doc')" style="cursor:pointer;padding-bottom:5px;" ><i class="glyphicons glyphicons-file"></i>&nbsp;<label class="badgehome" id="mn_doc"></label></li>
			<li id="mtyp6" mtagtype=".xls" ng-click="selMType('.xls')" style="cursor:pointer;padding-bottom:5px;"><i class="glyphicons glyphicons-charts  "></i>&nbsp;<label class="badgehome" id="mn_xls"></label></li>
			<li id="mtyp7" mtagtype=".ppt" ng-click="selMType('.ppt')" style="cursor:pointer;padding-bottom:5px;"><i class="glyphicons glyphicons-pie-chart  "></i>&nbsp;<label class="badgehome" id="mn_ppt"></label></li>
			<li id="mtyp8" mtagtype=".pdf" ng-click="selMType('.pdf')" style="cursor:pointer;padding-bottom:5px;"><i class="glyphicon glyphicon-briefcase  "></i>&nbsp;<label class="badgehome" id="mn_pdf"></label></li>
		</ul>
		 <p class="menuLeftLabel">TIME RANGE</p>
		<ul class="nav nav-list"  style="cursor:pointer;padding-left:30px;color:rgb(164,164,164);">
			<li id="mtime24h" mtagrange="1" ng-click="selMRange('1')" style="cursor:pointer;padding-bottom:5px;"> <i class="glyphicon glyphicon-time  "></i>&nbsp;<label class="badgehome" id="mn_past24h"></label></li>
			<li id="mtime3d" mtagrange="3" ng-click="selMRange('3')" style="cursor:pointer;padding-bottom:5px;"> <i class="glyphicon glyphicon-time  "></i>&nbsp;<label class="badgehome" id="mn_past3d"></label></li>
			<li id="mtime7d" mtagrange="7" ng-click="selMRange('7')" style="cursor:pointer;padding-bottom:5px;"> <i class="glyphicon glyphicon-time  "></i>&nbsp;<label class="badgehome" id="mn_past7d"></label></li>
			<li id="mtime14d" mtagrange="14" ng-click="selMRange('14')" style="cursor:pointer;padding-bottom:5px;"> <i class="glyphicon glyphicon-time  "></i>&nbsp;<label class="badgehome" id="mn_past14d"> </label></li>
			<li id="mtime30d" mtagrange="30" ng-click="selMRange('30')" style="cursor:pointer;padding-bottom:5px;"> <i class="glyphicon glyphicon-time  "></i>&nbsp;<label class="badgehome" id="mn_past30d"></label></li>
			<li id="mtime365d" mtagrange="365" ng-click="selMRange('365')" style="cursor:pointer;padding-bottom:5px;"> <i class="glyphicon glyphicon-time  "></i>&nbsp;<label class="badgehome" id="mn_past365d"></label> </li>
			<li id="mtimeall" mtagrange=".all" ng-click="selMRange('.all')" style="cursor:pointer;padding-bottom:5px;"> <i class="glyphicon glyphicon-time  "></i>&nbsp;<label class="badgehome" id="mn_alltime"></label></li>
		</ul> 
		<p class="menuLeftLabel">TAGS</p>
		<div ng-repeat="cluster in clusters">
			<p class="menuLeftLabel">{{cluster.name}}</p>
			<ul class="nav nav-list"  style="cursor:pointer;padding-left:30px;color:rgb(164,164,164);">
				<li ng-repeat="tag in tagsCluster[cluster.cluster]" tagtags="{{tag.tagname}}" cluster="{{cluster.cluster}}"   ng-click="selMTag(tag.tagname,cluster)" style="cursor:pointer;padding-bottom:5px;"> 
					<i class="glyphicon glyphicon-tag"></i>&nbsp;<label class="badgehome">{{tag.tagcnt}}</label>
				</li>
			</ul>
		</div>		
	 </div>
	  <div id="leftMenu4" ng-show="mnu=='multicluster'" >
		 <p class="menuLeftLabel">&nbsp;&nbsp;&nbsp;</p>
		 <ul class="nav nav-list" style="padding-left:30px;color:rgb(164,164,164);" >
			<li id="mtyp1" mtagtype=".all" ng-click="selMType('.all')"   style="cursor:pointer;padding-bottom:10px;width:200px">&nbsp;&nbsp;&nbsp;All Types&nbsp&nbsp&nbsp;<i tagtype=".all"  class="glyphicon glyphicon-ok"></i></li>
			<li id="mtyp2" mtagtype='.photo' ng-click="selMType('.photo')" style="cursor:pointer;padding-bottom:10px;width:200px;"> &nbsp;&nbsp;&nbsp;Photos&nbsp&nbsp&nbsp;<i tagtype=".photo"  class="glyphicon glyphicon-ok"></i></li>
			<li id="mtyp3" mtagtype='.music' ng-click="selMType('.music')" style="cursor:pointer;padding-bottom:10px;width:200px;"> &nbsp;&nbsp;&nbsp;Music&nbsp&nbsp&nbsp;<i tagtype=".music"  class="glyphicon glyphicon-ok"></i></li>
			<li id="mtyp4" mtagtype=".video" ng-click="selMType('.video')" style="cursor:pointer;padding-bottom:10px;width:200px;"> &nbsp;&nbsp;&nbsp;Videos&nbsp&nbsp&nbsp;<i tagtype=".video"  class="glyphicon glyphicon-ok"></i> </li>
			<li id="mtyp9" mtagtype=".document" ng-click="selMType('.document')" style="cursor:pointer;padding-bottom:10px;width:200px;"> &nbsp;&nbsp;&nbsp;Documents&nbsp&nbsp&nbsp;<i tagtype=".document"  class="glyphicon glyphicon-ok"></i></li>
			<li id="mtyp5" mtagtype=".doc" ng-click="selMType('.doc')" style="cursor:pointer;padding-bottom:10px;width:200px;" > &nbsp;&nbsp;&nbsp;.doc&nbsp&nbsp&nbsp;<i tagtype=".doc"  class="glyphicon glyphicon-ok"></i></li>
			<li id="mtyp6" mtagtype=".xls" ng-click="selMType('.xls')" style="cursor:pointer;padding-bottom:10px;width:200px;"> &nbsp;&nbsp;&nbsp;.xls&nbsp&nbsp&nbsp;<i tagtype=".xls"  class="glyphicon glyphicon-ok"></i></li>
			<li id="mtyp7" mtagtype=".ppt" ng-click="selMType('.ppt')" style="cursor:pointer;padding-bottom:10px;width:200px;"> &nbsp;&nbsp;&nbsp;.ppt&nbsp&nbsp&nbsp;<i tagtype=".ppt"  class="glyphicon glyphicon-ok"></i></li>
			<li id="mtyp8" mtagtype=".pdf" ng-click="selMType('.pdf')" style="cursor:pointer;padding-bottom:10px;width:200px;"> &nbsp;&nbsp;&nbsp;.pdf&nbsp&nbsp&nbsp;<i tagtype=".pdf"  class="glyphicon glyphicon-ok"></i></li>
		</ul>
		 <p class="menuLeftLabel">&nbsp;&nbsp;&nbsp;</p>
		<ul class="nav nav-list"  style="cursor:pointer;padding-left:30px;color:rgb(164,164,164);">
			<li id="mtime24h" mtagrange="1" ng-click="selMRange('1')" style="cursor:pointer;padding-bottom:10px;width:200px;">  &nbsp;&nbsp;&nbsp;Today&nbsp&nbsp<i  class="glyphicon glyphicon-ok"></i></li>
			<li id="mtime3d" mtagrange="3" ng-click="selMRange('3')" style="cursor:pointer;padding-bottom:10px;width:200px;">   &nbsp;&nbsp;&nbsp;Past 3 days&nbsp&nbsp<i   class="glyphicon glyphicon-ok"></i></li>
			<li id="mtime7d" mtagrange="7" ng-click="selMRange('7')" style="cursor:pointer;padding-bottom:10px;width:200px;">   &nbsp;&nbsp;&nbsp;This Week&nbsp&nbsp<i  class="glyphicon glyphicon-ok"></i></li>
			<li id="mtime14d" mtagrange="14" ng-click="selMRange('14')" style="cursor:pointer;padding-bottom:10px;width:200px;"> &nbsp;&nbsp;&nbsp;Past 2 Weeks&nbsp&nbsp<i    class="glyphicon glyphicon-ok"></i></li>
			<li id="mtime30d" mtagrange="30" ng-click="selMRange('30')" style="cursor:pointer;padding-bottom:10px;width:200px;"> &nbsp;&nbsp;&nbsp;Past 30 days&nbsp&nbsp<i  class="glyphicon glyphicon-ok"></i></li>
			<li id="mtime365d" mtagrange="365" ng-click="selMRange('365')" style="cursor:pointer;padding-bottom:10px;width:200px;">&nbsp;&nbsp;&nbsp;This Year&nbsp&nbsp<i   class="glyphicon glyphicon-ok"></i></li>
			<li id="mtimeall" mtagrange=".all" ng-click="selMRange('.all')" style="cursor:pointer;padding-bottom:10px;width:200px;">&nbsp;&nbsp;&nbsp;All Time&nbsp&nbsp<i    class="glyphicon glyphicon-ok"></i></li>
		</ul>
		<p class="menuLeftLabel">&nbsp;&nbsp;&nbsp;</p>
		<div ng-repeat="cluster in clusters">
			<p class="menuLeftLabel">&nbsp;&nbsp;&nbsp;</p>
			<ul class="nav nav-list"  style="cursor:pointer;padding-left:30px;color:rgb(164,164,164);">
				<li ng-repeat="tag in tagsCluster[cluster.cluster]" tagtags="{{tag.tagname}}" cluster="{{cluster.cluster}}" ng-click="selMTag(tag.tagname,cluster)" style="cursor:pointer;padding-bottom:5px;width:200px;"> 
				&nbsp;&nbsp;&nbsp;<label id="lblCluster{{tag.tagname}}" style="cursor:pointer;" tag="sharetaglabel" tagname="{{tag.tagname}}">{{tag.tagname}}</label>&nbsp&nbsp
				</li>
			</ul>
		</div>		
	 </div>
	 
		<div class="modal fade" id="modalsettings">
		  <div class="modal-dialog" style="width:100%;height:100%;margin-left: 10px;margin-top:60px;background-color:rgb(42,42,42)">
			<div class="modal-content" style="background-color:rgb(42,42,42)">
				<div  class="row center-block" style="padding-top: 0px;    height: 35px;">
					<span ng-click="closeSettings()" class="command" style="color:white;margin-top: 10px;margin-right: 10px;position:absolute;right:10px;top: 1px;">X</span>
				</div>
				<div class="row center-block" >
					<table style="width:100%; height:100%;">
					<tr>
						<td style="width:300px;height:100%;">
							<iframe  src="/cass/settings.htm" style="width:250px;;height:100%;"></iframe>	 
						</td>
						<td style="width:100%;height:100%;">
							<iframe  name="MAIN" id="MAIN" src="" style="width:100%;height:100%;"></iframe>	 
						</td>
					</tr>
					</table>				
				</div>
			</div>
		  </div>
		</div>
		
		<div class="modal fade" id="modalabout">
		  <div class="modal-dialog" style="width:100%;height:100%;margin-left: 10px;margin-top:60px;background-color:rgb(42,42,42)">
			<div class="modal-content" style="background-color:rgb(42,42,42)">
				<div  class="row center-block" style="padding-top: 0px;    height: 35px;">
					<span ng-click="closeAbout()" class="command" style="color:white;margin-top: 10px;margin-right: 10px;position:absolute;right:10px;top: 1px;">X</span>
				</div>
				<div class="row center-block" >
					<table style="width:100%; height:100%;">
					<tr>
						<td style="width:100%;height:100%;">
							<iframe  src="/cass/about.htm"  style="width:100%;height:100%;" ></iframe>	 
						</td>
					</tr>
					</table>				
				</div>
			</div>
		  </div>
		</div>
		
		<div class="modal fade" id="modalshares">
		  <div class="modal-dialog" style="width:100%;height:90%;margin-left:10px;margin-top:60px;background-color:rgb(42,42,42)">
			<div class="modal-content" style="background-color:rgb(42,42,42)">
				<div  class="row center-block" style="padding-top: 0px;    height: 35px;">
					<span ng-click="closeShares()" class="command" style="color:white;margin-top: 10px;margin-right: 10px;position:absolute;right:10px;top: 1px;">X</span>
				</div>
				<div class="row center-block" >
					<table style="width:100%; height:100%;">
					<tr>
						<td style="width:100%;height:100%;">
							<iframe id="iframeshare"  src=""  style="width:100%;height:100%;" ></iframe>	 
						</td>
					</tr>
					</table>				
				</div>
			</div>
		  </div>
		</div>
		
		<div class="modal fade" id="clusterformhome">
		  <div class="modal-dialog">
			<div class="modal-content">
				<div  class="row center-block" align="center"  style="padding-top: 0px;height:41px;background-color:rgb(42,42,42);">
					Add new cluster
					<button type="button" class="close" ng-click="close()"style="color:white;margin-top: 10px;margin-right: 10px;position:absolute;right:10px;top: 1px;">X</button>
				</div>
				<div  class="row center-block"   style="padding-top: 50px;padding-left:20px;padding-right:20px;height:150px;">
					<uib-alert  ng-repeat="alert in alertsClusters" type="danger" close="closeAlert($index)">{{alert.msg}}</uib-alert>
					<table>
						<tr><td>Cluster Name*</td><td><input type="text" style="width:422px;" ng-model="clusterName"/></td></tr>
						<tr><td>Local User*</td><td><input type="text" style="width:422px;" ng-model="clusterUser"/></td></tr>
					</table>	
				</div>
				<div class="row" style="height:50px;">
					<button type="button" class="btn" ng-click="close()" style="position:absolute;right:160px;">Cancel</button>
					<button type="button" class="btn btn-primary" ng-click="acceptCluster()" style="position:absolute;right:70px;">Accept</button>
				</div>
			</div>
		  </div>
		</div>

		<div class="modal fade" id="popupmsghome">
		  <div class="modal-dialog">
			<div class="modal-content">
				<div  class="row center-block" align="center"  style="padding-top: 0px;height:41px;background-color:rgb(42,42,42);">
					<button type="button" class="close" ng-click="closePupup()"style="color:white;margin-top: 10px;margin-right: 10px;position:absolute;right:10px;top: 1px;">X</button>
				</div>
				<div  class="row center-block"   style="padding-top: 50px;padding-left:20px;padding-right:20px;height:130px;">
					{{popupmsghome}}
				</div>
				<div class="row" style="height:50px;">
					<button type="button" class="btn btn-primary" ng-click="acceptPopup()" style="position:absolute;right:160px;">Accept</button>
					<button type="button" class="btn btn-primary" ng-click="closePopup()" style="position:absolute;right:70px;">Cancel</button>
				</div>
			</div>
		  </div>
		</div>
		
	</div> 
	
	<div ng-controller="RightBarController">
		<audio id="beep" style="position:absolute:left:-7500">
		  <source src="sound/beep.mp3" >
		</audio>		
	
		<div class="rightMenu" id="rightMenu" ng-show="showRightMenu" >
			<label style="cursor:pointer;position:absolute;right:5px;top:5px;" ng-click="changeShowRightMenu()" >X</label>
			<div class="row" style="margin-top: 17px;margin-left:0px;">
				<table style="width:100%;">
					<tr style="border-bottom-color: rgb(240,242,246);border-bottom-style: inset;">
						<td ng-click="showChat='chat';openTab();" ng-class="{'activeTab':showChat=='chat'}" align="center" width="33%" style="cursor:pointer;border-right-color: rgb(240,242,246);border-right-style: inset;">
							<i class="glyphicons glyphicons-chat"></i>
						</td>
						<td ng-click="showChat='playlist';openTab();" ng-class="{'activeTab':showChat=='playlist'}" align="center" width="33%" style="cursor:pointer;border-right-color: rgb(240,242,246);border-right-style: inset;">
							<i class="glyphicon glyphicon-music"></i>
						</td>
						<td ng-click="showChat='events';openTab();" ng-class="{'activeTab':showChat=='events'}" align="center" width="33%" style="cursor:pointer;">
							<i class="glyphicons glyphicons-group"></i>
						</td>
					</tr>
				</table>
			</div>
			<div class="row rightMenuContent" style="margin-left:0px;margin-top: 10px;" align="center">
				<div id="chatlist" ng-show="showChat=='chat'">
					<div class="row" id="cahtmsgs" style="margin-left:0px;margin-right:20px;overflow-y:scroll;">
						<div class="textMsg" ng-repeat="m in msgs" align="left" style="padding-left:3px;">
							<div class="headMsg">
								<label style="float:left;font-weight: bold;margin-left:3px;">{{m.username}}</label> <label style="float:right;margin-right:3px;">{{m.date | date:'MMM d, y h:mm a'}}</label>
							</div>
							<br>
							<div class="contentMsg" style="padding-left:42px;padding-right:5px;" compile-data template="{{m.msg}}">
								
							</div>
						</div>
					</div>
					<div class="row" height="50px" align="left" style="margin-left:0px;padding-left:5px;padding-bottom:5px;position:absolute;bottom:0px;">
						<textarea  cols="40" rows="3" ng-keydown="checkReturn($event)" ng-model="inputText"></textarea><button ng-click="send()" class="bottom btn btn-primary" style="position:absolute;">Send</button>
						<a href="" ng-click="clearChats()" ng-show="isAdmin">Clear Chats</a>
					</div>
				</div>				
				<div id="playlist" ng-show="showChat=='playlist'" style="margin-left:0px;margin-top:10px">
					<div class="row" id="playlistcontainer" style="margin-left:0px;margin-right:20px;overflow-y:scroll;padding-bottom:50px;"> 
						<div ng-repeat="file in playlistfiles" class="audioPlaylist" ng-click="setPlayIndex($index)" id="audio{{$index}}" ng-class="{audioPlaylistActive:$index==index}">
							<label style="position:absolute;top: 13px;right:8px;cursor:pointer;" ng-click="$event.stopPropagation();deletePlayIndex($index)">X</label>
							<label style="cursor:pointer" ng-show="file.song_title==null || file.song_title==undefined">{{file.name}}</label>
							<br>
							<label style="cursor:pointer" ng-show="file.song_title!=undefined" >{{dec(file.song_title)}}</label>
							<br/>
							<label  ng-show="file.song_artist!=undefined " style="cursor:pointer;word-wrap: break-word;font-family:bold;"><b>{{dec(file.song_artist)}}</b></label>
						</div>
					</div>
					<div class="row" height="50px" align="left" style="margin-left:0px;padding-left:5px;padding-bottom:5px;position:absolute;bottom:0px;">
						<div id="footerAudioBar" class="center-block"  style="margin-bottom:72px;">
						<label style="cursor:pointer;cursor: pointer;position: relative;top: 27px;right: -289px;z-index: 99;" ng-click="playListClear()" >Clear All</label>
						 <table width="300" height="100%">
							<tr>
								<td align="center" valign="top">
									 <audio autoplay="autoplay" controls="controls" id="audio" style="width:250px;">
									  <source src="" id="audioFile" >
									  Your browser does not support the audio tag.
									</audio>
									<span class="glyphicon glyphicon-remove" style="position:absolute;top10px;right:30px;cursor:pointer;" onclick="closeAudio()" ></span>
								</td>
							</tr>
							<tr>
								<td align="center" valign="center">
									<a href="" class="glyphicon glyphicon-play" id="aaudioopen" target="idownload" >&nbsp;Open</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="glyphicons glyphicons-download" href="" id="aaudiodownload" download="" >&nbsp;Download</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="glyphicon glyphicon-folder-open" id="afolderaudio" href="" target="idownload" style="font-size:14px;cursor:pointer;">;&nbsp;Folder</a>
								</td>
							</tr>
						 </table>
							
						</div>
					</div>
				</div>
				<div ng-show="showChat=='events'" style="margin-left:0px;margin-top:10px">
					<div class="row"  id="events" style="margin-left:0px;margin-right:20px;overflow-y:scroll;"> 
						<div class="textMsg" ng-repeat="e in events" align="left" style="padding-left:3px;">
							<div class="headMsg">
								<label style="float:left;font-weight: bold;margin-left:3px;">{{e.username}}</label> <label style="float:right;margin-right:3px;">{{e.date | date:'MMM d, y h:mm a'}}</label>
							</div>
							<br>
							{{e.msg}}
							<br>
							<div ng-show="e.thumbnail!=null" class="contentMsg" ng-click="play(e.file)" style="cursor:pointer;padding-left:42px;padding-right:5px;height:100px;background:url('data:image/jpg;base64,{{e.thumbnail}}') no-repeat center;">
							</div>
							<div ng-show="e.thumbnail==null" class="contentMsg" ng-click="play(e.file)" style="cursor:pointer;padding-left:42px;padding-right:5px;height:50px;">
							</div>
						</div>
					</div>				
				</div>
			</div>			
		</div>
		
		
		
	</div>
	
	 <div class="row center-block">
		<div>
			<ng-view></ng-view>
		</div>		   
	 </div>
</div>

	
</div>
<div id="backToTop" align="center" >
	Back to Top
</div>


<div class="table table-striped files" id="previews">

  <div id="template" class="file-row">
	<!-- This is used as the file preview template -->
	<div>
		<span class="preview"><img data-dz-thumbnail /></span>
	</div>
	<div>
		<p class="name" data-dz-name></p>
		<strong class="error text-danger" data-dz-errormessage></strong>
	</div>
	<div>
		<p class="size" data-dz-size></p>
		<div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
		  <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
		</div>
	</div>
	<div>
	  <button data-dz-remove class="btn btn-warning cancel">
		  <i class="glyphicon glyphicon-ban-circle"></i>
		  <span>Cancel</span>
	  </button>
	  <button data-dz-remove class="btn btn-danger delete">
		<i class="glyphicon glyphicon-trash"></i>
		<span>Clear</span>
	  </button>
	</div>
  </div>

</div>

 	 
<iframe id="idownload" name="idownload" style="visibility:hidden;display:none;"/>	 
</body>
</html>
