<div style="padding-left:110px;">
	<div class="row center-block" align="center" style="margin-top:30px;">
		<label style="font-size:35px;font-style:bold;">My Devices</label>
	</div>
	<div class="row center-block" align="center">
		<div class="col-md-4 center-block" ng-repeat="device in devices" align="center" style="margin-top: 30px;">
			<i class="glyphicon glyphicon-cloud" ng-show="device.node_type!='server' && device.node_type!='client'" style="font-size:120px"></i>
			<i class="glyphicons glyphicons-imac" ng-show="device.node_type=='server'" style="font-size:120px"></i>
			<i class="glyphicon glyphicon-hdd" ng-show="device.node_type=='client'" style="font-size:120px"></i>
			<br>
			<label style="font-size:20px;font-style:bold;">{{up(device.node_type)}}:{{device.node_machine}}</label>&nbsp;<i ng-show="device.node_type=='server'" style="cursor:pointer;font-size:19px;" ng-click="openSettings()" class="glyphicon glyphicon-cog">&nbsp;</i>
			<br>
			<label ng-show="device.node_lastping_long!=undefined && device.node_lastping_long!=null"> {{seen(device.node_lastping_long)}}</label>
			<br ng-show="!(device.node_lastping_long!=undefined && device.node_lastping_long!=null)"/>
			<div class="row machineBox" style="width:330px;">
				<div class="row" style="margin-top: 30px;" >
					<table>
					<tr>
						<td valign="center">
							<label> Index </label>
						</td>
						<td  style="width:200px;" align="center" valign="center">
							<div class="progress progressBarAlterante" style="width:200px;position: relative;top: 7px;" ng-show="device.node_idx_percent!=undefined && device.node_idx_percent!=null">
								<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{dec(device.node_idx_percent)}}" aria-valuemin="0" aria-valuemax="100" style="width:{{widthPercentage(device.node_idx_percent)}}px;">
								</div>
							</div>
							<label  ng-show="!(device.node_idx_percent!=undefined && device.node_idx_percent!=null)"  >Off<br/></label>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td valign="top" align="center">
							<label style="position: relative;top: -12px;" ng-show="device.node_idx_percent!=undefined && device.node_idx_percent!=null">{{dec(device.node_idx_percent)}}% Completed</label>
						</td>
					</tr>
					<tr>
						<td valign="center"><label > Backup </label></td>
						<td style="width:200px;"  align="center" valign="center">
							<div class="progress progressBarAlterante" style="width:200px;position: relative;top: 5px;"  ng-show="device.node_backup_percent!=undefined && device.node_backup_percent!=null">
								<div class="progress-bar" role="progressbar" aria-valuenow="{{dec(device.node_backup_percent)}}" aria-valuemin="0" aria-valuemax="100" style="width:{{widthPercentage(device.node_backup_percent)}}px;">
								</div>
							</div>
							<label ng-show="!(device.node_backup_percent!=undefined && device.node_backup_percent!=null)" >Off</label>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td align="center" valign="top">
							<label  style="position: relative;top: -12px;" ng-show="device.node_backup_percent!=undefined && device.node_backup_percent!=null ">{{dec(device.node_backup_percent)}}% Completed</label>
						</td>
					</tr>
					<tr>
						<td valign="center"><label> Usage </label></td>
						<td align="center" style="width:200px;" valign="center">
							<div class="progress progressBarAlterante" style="width:200px;position: relative;top: 5px;">
								<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:100px;">
								  
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td valign="top" align="center">
							<label  style="position: relative;top: -12px;" >XX% Complete</label>
						</td>
					</tr>
					<tr style="height:5px;">
						<td colspan="2">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="2">
							<table ng-show="device.showMore">
								<tr><td colspan="2" align="left"><label ng-show="device.node_id!=undefined && device.node_id!=null">UUID:<label style="font-size:10px;">{{device.node_id}}</label></label></td></tr>
								<tr><td colspan="2" align="left"> <label ng-show="device.node_ip!=undefined && device.node_ip!=null">IP Adress:{{device.node_ip}}</label></td></tr>
								<tr><td colspan="2" align="left"><label ng-show="device.node_port!=null && device.node_port!=undefined">IP Port:{{device.node_port}}</label></td></tr>
							</table>
						</td>
				</table>
				<table width="91%"  >
					<tr>
						<td style="border-top:rgb(199,199,204);background-color:rgb(247,247,247);border-top-style: groove;" align="center">
							<label style="cursor:pointer;" ng-click="device.showMore=!device.showMore" ng-show="device.showMore!=true"> See more </label> 
							<label style="cursor:pointer;" ng-click="device.showMore=!device.showMore" ng-show="device.showMore==true"> Show less</label> 
							
							<i ng-show="device.node_type=='server'" style="cursor:pointer;position: relative;right: -4px;top: 3px;" ng-click="openSettings()" class="glyphicon glyphicon-cog">&nbsp;</i>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>

